:root {


    --clr-green-500: #3c8067;
    --clr-green-700: #1b4133;
  
    /* Neutral colors */
    --clr-black: #1c232b;
    --clr-grey: #6c7289;
    --clr-cream: #f2ebe3;
    --clr-white: hsl(0, 0%, 100%);

}